@charset "UTF-8";
    body {

        background-color:antiquewhite;
        font-family: Arial, Arial, Helvetica, sans-serif;
        font-size: 20px; 
    }

    h1{
        color: greenyellow;
        background-color: hotpink;
     }
     h2{
        color: blue;
     }
     p{
        text-align: justify;
     }